<div class="row pad20">
  <div class="col-md-3">
    <h4>Segment#1(18,761) </h4>
  </div>
  <div class="col-md-1">
    <span class="fa fa-book" aria-hidden="true">
   1k</span>
  </div>
  <div class="col-md-1">
    <span class="fa fa-map-marker" aria-hidden="true">
   2</span>
  </div>
</div>
<div class="row pad20">
  <div class="col-md-3">
    <label> <i class="fa fa-briefcase mrgR10" style="color: #0098df;"></i>Job Function: </label></div>
  <div class="col-md-3">
    <button type="button" class="btn btn-primary custom-btn">All teachers</button></div>
</div>
<div class="row pad20">
  <div class="col-md-3">
    <label><i class="fa fa-map mrgR10" style="color: #0098df;"></i>Geography: </label></div>
  <div class="col-md-8">
    <button type="button" class="btn btn-primary custom-btn"> 
  <span class="fa fa-map-marker" aria-hidden="true"></span> California, USA</button>
    <button type="button" class="btn btn-primary custom-btn"> 
    <span class="fa fa-map-marker" aria-hidden="true"></span> Arizona, USA</button>
  </div>
</div>
<div class="row pad20">
  <div class="col-md-3">
    <label> <i class="fa fa-university mrgR10" style="color: #0098df;"></i>Institution Types: </label>
  </div>
  <div class="col-md-3"> <button type="button" class="btn btn-primary custom-btn">Private Schools</button></div>
</div>