<kendo-grid [data]="gridData" [height]="210">
  <kendo-grid-column field="ProductID" title="Email" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="ProductName" title="First Name" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Middle Name" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Last Name" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Title" width="150">
  </kendo-grid-column>
  <kendo-grid-column field="Category.CategoryName" title="Institution" width="150">
  </kendo-grid-column>
</kendo-grid>