<kendo-grid [data]="gridData" [height]="200">
  <kendo-grid-column field="email" title="Email">
  </kendo-grid-column>
  <kendo-grid-column field="firstName" title="First Name">
  </kendo-grid-column>
  <kendo-grid-column field="middleName" title="Middle Name">
  </kendo-grid-column>
  <kendo-grid-column field="lastName" title="Last Name">
  </kendo-grid-column>
  <kendo-grid-column field="title" title="Title">
  </kendo-grid-column>
  <kendo-grid-column field="institution" title="Institution">
  </kendo-grid-column>
</kendo-grid>



<input [(ngModel)]="email" /> &nbsp;
<input [(ngModel)]="firstName" /> &nbsp;
<input [(ngModel)]="middleName" /> &nbsp;
<input [(ngModel)]="lastName" /> &nbsp;
<input [(ngModel)]="title" /> &nbsp;
<input [(ngModel)]="institution" /> &nbsp;
<button (click)="get()">GET</button><br>

<input [(ngModel)]="ValueFromInput" /> &nbsp;
<button (click)="fromDB()">FromDatabase</button>