




<kendo-grid [data]="gridData"  >
    <kendo-grid-column field="activityLog" title="Activity Log" >
    </kendo-grid-column>
    <kendo-grid-column field="modifiedBy" title="Modified By" >
    </kendo-grid-column>
    <kendo-grid-column field="modifiedDate" title="Modified Date" >
    </kendo-grid-column>
</kendo-grid>


<input  [(ngModel)]="log" /> &nbsp;
<input  [(ngModel)]="by" /> &nbsp;
<input  [(ngModel)]="date" /> &nbsp;
<button  (click)="get()">GET</button><br>

<input  [(ngModel)]="ValueFromInput" /> &nbsp;
<button  (click)="fromDB()">FromDatabase</button>
